<div class="row">
  <div class="col-xs-6">
    <div class="thumbnail">
      <%= form_for ([@campaign, @scenario]), method: :put do |f| %>
          <div class="row form-group">
            <div class="col-xs-6">
              <%= f.label :victory_display %>:
            </div>
            <div class="col-xs-6">
              <%= f.number_field :victory_display, class: "form-control" %>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <%= f.label :resolution %>:
            </div>
            <div class="col-xs-6">
              <%= f.select(:resolution, ['no resolution', 'R1', 'R2', 'R3'], { include_blank: true }, class: "form-control") %>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-3">
              <%= f.label :notes %>:
            </div>
            <div class="col-xs-9">
              <%= f.text_area :notes, rows: 10, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">
              <a href="<%= campaign_scenario_path(@campaign, @scenario)%>" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Cancel
              </a>
            </div>
            <div class="col-xs-6 text-left">
              <%= button_tag(class: "btn btn-default btn-lg") do %>
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>