<div class="row">
  <div class="col-xs-6">
    <a href="<%= campaigns_path %>" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
    </a>
  </div>
</div>
<div class="row space-above">
  <div class="col-xs-6 text-center">
    <a href="<%= new_campaign_scenario_path(@campaign) %>" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Scenario
    </a>
  </div>
  <div class="col-xs-6 text-center">
    <a href="<%= edit_campaign_path(@campaign) %>" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Notes
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="thumbnail">
      <ul>
        <% @scenarios.each do |scenario| %>
        <li><%= link_to scenario.name, campaign_scenario_path(@campaign, scenario) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-6 text-center">
    <div class="thumbnail">
      <p><%= @campaign.notes %></p>
    </div>
  </div>
</div>